*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
 
    list-style: none;
}

.main{
    background-color:#eff5fd;
    height: 100vh
    
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    background-color: #ff6347;
    padding: 20px;
    color:white;
    box-shadow: 5px 3px 10px 1px rgba(39, 38, 38, 0.38);

}
.title h1{
}
.logo-svg{
    filter: invert(96%)sepia(100%)saturate(12%)hue-rotate(237deg)brightness(103%);
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 15px;
    justify-items: center;
}


.demo-card{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 3px 10px 1px rgba(0,0,0,0.38);

}
.book-info{
    margin: 5%;
}

li {
    margin-top: 5px;
}

.add-book-btn{
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    
}
.add-book-btn button{
    border: none;
    background-color:#eff5fd;
}
.add-book-btn button img:hover{
    width: 70px;
    height: 70px;
    
}
.add-book-btn button:hover{
    background-color: white;
    border-radius: 50px;
    opacity: 50%;
}