*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
 
    list-style: none;
}
.main{
    background-color: blue;
    padding:10px;
    
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1{
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.demo-card{
    background-color: green;
    border-radius: 10px;

}